table {
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: palevioletred;
}
th {
    padding: 10px;
}
td {
    padding: 10px;
}
#line1 {
    background-color: white;
    color: blueviolet;
}
#line3 {
    background-color: white;
    color: blue
}